.formacao{
    background: #292929;
    color: white;
}

.formacao-container::before{
    width: 464.93px;
    height: 471.28px;
    content: "";
    position: absolute;
    left: -110px;
    background: #3657CB;
    opacity: 0.1;
    transform: rotate(45deg);
}

.formacao-container{
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}

.formacao-titulo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 8rem;
    line-height: 9.37rem;
    text-transform: uppercase;
    color: #666666;
}

.form-conteudo{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    gap: 60px;
}

.apresentacao{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.43rem;
    
    color: #F5F5F5;
}

.form-card-container{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.form-card-item{
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    background: #1A1A1A;
    border: 1px solid #090909;
    border-radius: 5px;
    padding: 20px;
    justify-content: space-between;
}

.form-card-grad{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 0.87rem;
    line-height: 1rem;
    text-transform: uppercase;

    color: #A3A3A3;
}

.form-card-curso{
    position: relative;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.43rem;

    color: #FFFFFF;
}

.form-card-curso::before{
    position: absolute;
    content: "";
    width: 5px;
    height: 21px;
    background: #4E6EDD;
    top: 0px;
    left: -25px;
}

.form-card-instituicao{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.87rem;
    color: #A3A3A3;
    text-transform: uppercase;

}

.mais-informacoes{
    display: flex;
    flex-direction: row;
    gap: 300px;
}

.cursos-intensivos, .idiomas {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 0.87rem;
    line-height: 1rem;
    text-transform: uppercase;

    color: #666666;
    position: relative;
    margin-bottom: 30px;
}

.cursos-intensivos::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: url('../img/keyboard_alt.svg');
    top: 0px;
    left: -40px;
}

.idiomas::before{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background: url('../img/g_translate.svg');
    top: 0px;
    left: -40px;
}


.extra-curricular, .extra-idiomas ul li{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.18rem;
    color: #E0E0E0;
}

.extra-curricular ul li span{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.18rem;    
    color: #666666;
    margin-left: 50px;
}

.extra-idiomas ul li span{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.18rem;    
    color: #666666;
    margin-left: 50px;
}