.main-container{
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}

.main-container h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 6.25rem;
    line-height: 6.25rem;
    color: #000000;
    position: relative;
}

.main-container h2::before{
    content: "";
    width: 12px;
    height: 70px;
    top: 16px;
    left: -15px;
    background: #3657CB;
    position: absolute;
}

.main-container h2::after{
    content: "";
    width: 111px;
    height: 111px;
    top: 0px;
    left: 664px;
    background: #3657CB;
    opacity: 0.1;
    transform: rotate(45deg);
    position: absolute;
}

.main-container p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 6.5rem;
    color: #8F8F8F;
}